$purpleColor: #311b92;
$grayColor1: #e8eaf6;
$grayColor2: #616161;
$grayColor3: #9e9e9e;
$grayColor4: #757575;
$grayColor5: #424242;
$grayLight1: #f5f5f5;
$grayLight2: #fafafa;
$grayLight3: #eeeeee;
$purpleLight: #5c6bc0;
$bgGreen: #00c853;
$white: #fff;
$yellow: #ffd600;
$blue: #1565c0;
