@import '../globalVariablesColors/index.scss';

.Inbox {
  border-radius: 15px;

  .grid {
    display: grid;
    grid-gap: 3px;
    height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .grid > div:nth-child(1) {
    background-color: $grayLight1;
    grid-column: span -1;
  }

  .grid > div:nth-child(2) {
    grid-column: span 2;
    box-shadow: 3px 5px $grayLight2;
    background-color: $white;
  }

  .grid > div:last-child {
    grid-column: span 4;
  }

  .themeColor {
    background-color: $theme-color !important;
  }

  .theme-switcher {
    text-align: center;
  }

  .btn-change-them {
    background-color: $blue;
    color: $white;
    border: 1px solid $blue;
    margin-right: 5px;
  }

  .btn-reset {
    background-color: $white;
    color: $blue;
    border: 1px solid $blue;
  }
}
